body {
  align-items: center;
  overflow-y: hidden;
}

#game-container{
  align-items: center;
  width : 35vw;
  height: 50vh;
  background: #052b01;
  
}
.symbol-button{
  height:50px;
  width:50px;
  background: #bac0ba;
  opacity: 30%;
}
#game-board{
  list-style-type: none;
  align-content: center;
}
.row{
  list-style-type: none;
  display: inline-flex;
}
.player-content{
  display: inline-flex;
  color : #caddc8;
  padding: 10%;
  margin : 2%;
}
span{
  display : flex;
 
  color : #caddc8;

}

input{
  width : 50px;
  background : #3a6135;
  color : #caddc8;
  opacity: 30%;
}
.player-info{
  display: inline-flex;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/



/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
